<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn vue js</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app-root">
      <div class="container">
        <div class="card" v-for="product in products" :key="product.id">
          <img :src="product.image" />
          <h3 class="title">{{product.title}}</h3>
          <p class="description">{{product.description}}</p>
          <p class="brand">{{product.brand}}</p>
          <div class="colors">
            <span v-for="(color,index) in product.colors" :key="index" :style="`background-color: ${color}`">
              <!-- {{color}} -->
            </span>
          </div>
          <p class="price">{{product.price}}</p>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
  </body>
</html>
